body {
    font-family: Arial, sans-serif;
    background-color: #001F3F; 
    color: #B0C4DE;
    text-align: center;
  
}

header {
    background-color: #003366;
    padding: 20px;
    border-radius: 10px;
    color: #00ffb3b2;
}

.container {
    background-color: #003366;
    width: 60%;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
}

h1, h2 {
    color: #00ffb3b2;
}

ul {
    list-style-type: square;
    text-align: left;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    margin: 8px 0;
}

section {
    background-color: #002147;
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
}

img {
    border-radius: 20px;
    border: 3px solid #00509E;
}


.back-button {
    display: inline-block;
    background-color: #00509E;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    transition: 1s;
}

.back-button:hover {
    color: #001F3F;
    transform: scale(1.22);
}
