body {
    font-family: Arial, sans-serif;
    background-color: #001F3F; 
    color: #B0C4DE;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    background-color: #003366;
    border-radius: 10px;
    width: 50%;
    margin: 50px auto;
}

h1 {
    color: #00ffb3b2;
    margin-bottom: 10px;
}

main {
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    background-color: #002147;
    border-radius: 10px;
}

.contact-intro {
    margin-bottom: 15px;
}

.contact-details {
    text-align: left;
    display: inline-block;
}

address p {
    margin: 8px 0;
    font-size: 18px;
}

address {
    color: #d1b203; 
    text-decoration: none;
    font-weight: bold;
}

address {
    text-decoration: underline;
    color: #FFA500; 
}

footer {
    margin-top: 20px;
}

.back-button {
    display: inline-block;
    background-color: #00509E;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    transition: 1s;
}

.back-button:hover {
    background-color: #001F3F;
    transform: scale(1.22);
}